@model PostModel
@{
    ViewData["Title"] = "Update Document";
    var expiryDate = Model.expiryDate != null ? Convert.ToDateTime(Model.expiryDate).ToString("yyyy-MM-dd") : null;
    var inspectionDate = Model.inspectionCompletionDate != null ? Convert.ToDateTime(Model.inspectionCompletionDate).ToString("yyyy-MM-dd") : null;

}
 
<div class="row mb-3">
    <div class="col-sm-6">
        @using (Html.BeginForm("Update", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.DocumentId)
            <div class="form-group">
                <label for="businessArea">Business Area</label>
                @Html.DropDownListFor(m => m.BusinessArea, new SelectList(ViewBag.BusinessAreas, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="documentType">Document Type</label>
                @Html.DropDownListFor(m => m.DocumentType, new SelectList(ViewBag.DocumentTypes, "Value", "Text"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="placeRef">Place Reference</label>
                <div class="input-group mb-3">
                    <input type="text"
                           id="placeRef"
                           name="placeRef"
                           value="@(Model.placeRef)"
                           class="form-control"
                           placeholder="Place Ref"
                           aria-label="Recipient's username"
                           aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#placeRefModal">Lookup</button>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label for="inspectionCompletionDate">Inspection Completion Date</label>
                <input type="date" class="form-control" id="inspectionCompletionDate" value="@(inspectionDate)" />
            </div>

            <div class="form-group">
                <label for="expiryDate">
                    Expiry Date </label>
                     <input type="date" class="form-control" id="expiryDate" value="@(expiryDate)" />


               </div>
            <div class="form-group">
                <label for="Contractor">Contractor</label>
                @Html.DropDownListFor(m => m.Contractor, new SelectList(ViewBag.Contractors, "Value", "Text"), new { @class = "form-control" })

            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="Final" name="Final" value="true">
                <label class="form-check-label" for="final">Save to Final Destination</label>
            </div>
            <!-- MODAL PLACE REF LOOKUP -->
            <div class="modal fade"
                 id="placeRefModal"
                 tabindex="-1"
                 role="dialog"
                 aria-labelledby="placeRefModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="placeRefModalLabel">Search Place Reference By Postcode</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="placeRef">Post Code</label>
                                <div class="input-group mb-3">
                                    <input type="text"
                                           id="postcode"
                                           name="postcode"
                                           class="form-control"
                                           placeholder="Postcode"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" onclick="Lookup()">Search</button>
                                    </div>
                                </div>
                                <div id="resultContainer"></div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MODAL PLACE REF LOOKUP -->

            <button type="Submit" class="btn btn-primary">Submit </button>
            <button type="reset" class="btn btn-warning" value="Reset">Reset</button>

            @section scripts {
                <script>
                    $('#DocFile').on('change', function () {
                        var fileName = $(this).val().replace('C:\\fakepath\\', " ")
                        $(this).next('.custom-file-label').html(fileName);
                    })

                    function Lookup() {
                        console.log("Postcode : ", $("#postcode").val());
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("PropertyLookup")",
                            data: { postCode: $("#postcode").val()},
                            dataType: "json",
                            success: function (msg) {
                                console.log(msg);
                                PlaceRefTable(msg);
                            },
                            error: function (req, status, error) {
                                console.log(msg);
                            }
                        });
                    }
                    function PlaceRefTable(data) {
                        var table = $('<table></table>').addClass('table');
                        console.log("DATA : ", data.length)
                        for (var i = 0; i < data.length; i++) {
                            row = $('<tr></tr>');
                            row.append($('<td></td>').append('<a onclick=\"test(\'' + data[i]["placeRef"] + '\')">' + data[i]["placeRef"] + '</a>').addClass('btn btn-link'));  //   .text(data[i]["placeRef"]));
                            row.append($('<td></td>').text(data[i]["address"]));
                            table.append(row);
                        }
                        $('#resultContainer').append(table);
                    }

                    function test(param) {
                        $("#placeRef")[0].value = param;
                        $('#placeRefModal').modal('hide');
                    }

                    @*$(document).ready(function () {
                        console.log('enter');
                        $("#pdf").load("@Model.FilePath");
                        console.log("exit")
                    });*@
                </script>
}
        }


    </div>

    <div class="col-sm-6">
        Preview
        <div id="pdf">
            <embed src="https://localhost:44391/DownloadFile?fileName=@(Model.FileName)&fileType=pdf" type="application/pdf" height="600" width="400" style="z-index:-900">
        </div>
    </div>
    </div>